@media screen and (min-width: 768px) {
  .container:before {
    position: absolute;
    top: 295px;
    right: -18px;

    display: block;
    width: 825px;
    height: 651px;

    background-image: url(../../../public/images/contacts/tablet/baloons-tab.webp);
    background-size: cover;
    background-position: center;

    content: '';
  }
}

@media screen and (min-width: 1280px) {
  .container:before {
    position: absolute;
    top: -120px;
    right: -60px;

    display: block;
    width: 883;
    height: 708px;

    background-image: url(../../../public/images/contacts/desktop/baloons-desk.webp);
    background-size: cover;
    background-position: center;

    content: '';
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) and (min-width: 768px),
  (min-resolution: 2dppx) and (min-width: 768px) {
  .container:before {
    background-image: url(../../../public/images/contacts/tablet/baloons-tab@2x.webp);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) and (min-width: 1280px),
  (min-resolution: 2dppx) and (min-width: 1280px) {
  .container:before {
    background-image: url(../../../public/images/contacts/desktop/baloons-desk@2x.webp);
  }
}
