.form {
  @apply bg-color-bg-primary py-8 sm:mx-auto sm:w-[440px] 
  md:relative md:w-[608px] md:rounded-[24px] md:px-[82px] md:py-[38px] xl:py-[48px];
}

.form::before {
  @apply absolute -left-[95px] -top-[75px] hidden h-[420px] w-[412px] md:block;

  content: '';

  background: url('../../../../public/images/contact-form/pink-balloons.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  transform: rotate(0deg) scale(-1, 1);

  z-index: -1;
}

.form::after {
  @apply absolute bottom-[100px] left-[338px] hidden h-[344px] w-[350px] md:block;

  content: '';

  background: url('../../../../public/images/contact-form/pink-balloons.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  z-index: -1;
}
